<div class="container">
<p id="notice"><%= notice %></p>

<h1>Proyectos</h1>
<% if session[:admin] %>
    <%= link_to 'Nuevo Proyecto', new_proyecto_path %>
    <br>
<% end %>

<%= form_tag({:controller => 'proyectos', :action => 'index'}, :method => 'get') do %>
    <%= label_tag(:name_search, "Busqueda por nombre:") %>
    <%= text_field_tag(:name_search, params[:name_search]) %>
    <%= submit_tag 'Buscar', :name => nil %>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Registro inicio</th>
      <th>Registro fin</th>
      <th>Ubicacion</th>
      <th>Admin</th>
      <th>Horas</th>
      <th>Carreras</th>
      <th>Semestres</th>
      <th>Requisitos</th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td> <%= link_to proyecto.nombre, proyecto %> </td>
        <td> <%= proyecto.descripcion %> </td>
        <td> <%= proyecto.registro_inicio.strftime '%d/%m/%Y %H:%M' %> </td>
        <td> <%= proyecto.registro_fin.strftime '%d/%m/%Y %H:%M' %> </td>
        <td>
          <% if proyecto.ubicacion %>
                <a href="<%= ubicacion_path proyecto.ubicacion.id %>"><%= proyecto.ubicacion.iniciales %></a>
          <% else %>
                <strong>N/A</strong>
          <% end %>
        </td>
        <td>
          <% if proyecto.admin %>
                <a href="<%= admin_path proyecto.admin.id %>"><%= "#{proyecto.admin.nombre} #{proyecto.admin.apellido}" %></a>
          <% else %>
                <strong>N/A</strong>
          <% end %>
        </td>
        <td><%= proyecto.horas %></td>
        <td>
          <% proyecto.carreras.each do |carrera| %>
            <%= "#{carrera.iniciales} " %>
          <% end %>
        </td>
        <td><%= "#{proyecto.semestre_minimo} - #{proyecto.semestre_max}" %></td>
        <td><%= proyecto.requisitos %></td>
        <% if session[:admin] %>
            <td><%= link_to 'Editar', edit_proyecto_path(proyecto) %></td>
            <td><%= link_to 'Borrar', proyecto, method: :delete, data: { confirm: 'Estás seguro de que quieres borrar este proyecto?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>