<p id="notice"><%= notice %></p>

<h1>Listing Dia Horas</h1>

<table>
  <thead>
    <tr>
      <th>Dia</th>
      <th>Hora inicio</th>
      <th>Hora fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dia_horas.each do |dia_hora| %>
      <tr>
        <td><%= dia_hora.dia %></td>
        <td><%= dia_hora.hora_inicio %></td>
        <td><%= dia_hora.hora_fin %></td>
        <td><%= link_to 'Show', dia_hora %></td>
        <td><%= link_to 'Edit', edit_dia_hora_path(dia_hora) %></td>
        <td><%= link_to 'Destroy', dia_hora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo dia hora', new_dia_hora_path %>
